---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-5">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Let's start working together!
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500">Contact Details</h2>
      <p>yu-tianchi@outlook.com</p>
      <p>tianchi.yu@phd.unipd.it</p>
      <p>Munich, Germany</p>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Socials</h2>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
      </div>
      <!-- <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
        <li>
          <a href={LINKS.medium} target="_blank">Medium</a>
        </li>
        <li>
          <a href={LINKS.discord} target="_blank">Discord</a>
        </li>
      </ul> -->
    </div>
  </div>
</Card>
